<h1>プロフィール</h1>
<div>
  <h3><%= @user.last_name + @user.first_name %></h3>
  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user.id) %></p>
  <% end %>
</div>
<p>Find me in app/views/users/show.html.erb</p>